@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{

    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

*{
 margin: 0;
 padding: 0;
}
a{
    text-decoration: none;
}

ul,li{
    list-style-type: none;
}

.main-banner{
    min-height: 500px;
    
}

.main-banner .swiper {
    width: 100%;
    height: 500px;
    background: #fff;

}

.main-banner .swiper-slide{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
}
.main-swiper{
    position: relative;
}
.main-banner .swiper-title{
    position: absolute;
    left: 20px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999999999999999;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.main-banner .swiper-title .logo-box{
    width: 80px;margin-right: 20px;
}
.main-banner .swiper-title .logo-box img{
    width: 100%;
}

.main-banner .swiper-title .college-name h2{
 margin-bottom: 0;text-transform: uppercase;padding-top: 23px;
 font-weight: 700;
 text-shadow: -1px -1px 10px #333,
 1px -1px 10px #333,
 -1px 1px 10px #333,
 1px 1px 10px #333;
}

.main-banner .swiper-pagination .swiper-pagination-bullet-active {
    background: #79bf4d;
}



.news-slider   .marquee-sibling {
    width: 100%;
    background: #011500;
    height: 100%;

    z-index: 1;
    padding: 0;
    height: 45px;
    line-height: 42px;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    z-index: 2000;
}
.news-slider .marquee-sibling a{
    color: #fff;
}
.news-slider .simple-marquee-container{
    background: #79bf4d;color: #fff;opacity: 1;
}

.news-slider .simple-marquee-container li a{
    color: #fff;
    opacity: 1;
    text-transform: capitalize;
}
.main-nav .navbar-dark .navbar-nav .nav-link {
    color: #011500;
    text-transform: capitalize;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
}
.main-nav .navbar-dark .navbar-nav .nav-link:hover{
    color: #79bf4d;
    
}
.main-nav .navbar-dark .navbar-nav .nav-link:focus{
  color: #79bf4d;
}

.main-nav .navbar-dark .navbar-nav .dropdown-item {
    font-size: 13px;
    color: #011500;
    text-transform: capitalize;
}
.main-nav .navbar-dark .navbar-nav .dropdown-item:hover{
 color: #79bf4d;
 background: #fafafa;

}
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover {
    background-color: #f1f1f1
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}


/*mujib corner start*/

.mujib-corner .card{
    min-height: 200px;
    max-height: 200px;
    margin: 17px 0px;
    border-radius: 0;border: none;
    position: relative;


}
.mujib-corner .card .card-body img{
    height: 180px;
}
.mujib-corner .swiper-slide{
    width: 100% !important;
    height: 200px !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.mujib-corner .swiper-button-next:after,
.mujib-corner .swiper-button-prev:after {
    font-size: 20px;
    color: #79bf4d;
}

.mujib-corner .swiper-slide{
    position: relative;
}
.mujib-corner .mujib-title{
    position: absolute;
    top: 0px;z-index: 1;
    color: #fff;
    left: 0px;
    width: 100%;
    background: #01150085;
}
.mujib-corner .mujib-title h2{
    padding:5px 15px ;
    margin-bottom: 0;text-transform: uppercase;text-align: center;
    font-size: 17px;
}

.college-details .card{
    margin-bottom: 17px;border-radius: 0;border: none;
}

.college-details .card .card-header{
    background:#79bf4d;
    color: #fff;
    border-radius: 0;
    text-transform: capitalize;
}

.college-details .card .card-body p{
    text-align: justify;
    font-size: 14px;
    line-height: normal;
    color: #545454;
    margin-bottom: 0;
}

.college-btn{
    border-radius: 0;
    background: #79bf4d;
    color: #fff;
    font-size: 14px;
    padding-left: 15px;padding-right: 15px;
    border-color: #79bf4d;text-transform: capitalize;
    margin-top: 17px;
}

.college-details .card .card-body .nav-item{
    border-bottom: 1px solid #f1f0f0;
}
.college-details .card .card-body .nav-item .nav-link{
    font-size: 14px;
    color: #0f2100;
    padding-left: 0;
    transition: 0.3s all;
}
.college-details .card .card-body .nav-item:hover .nav-link{
 color: #79bf4d;padding-left: 15px;
}


.video-tabs{
    background: #ff4757;
    min-height: 500px;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.video-tabs .video-title{
    border: 1px dotted #fff;
    padding: 5px 15px;
    margin-bottom: 20px;

}
.video-tabs .video-title h3{
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.video-tabs .video-box iframe{
    width: 100%;
    min-height: 500px;
    margin-bottom: 10px;
}
.video-tabs  .nav-tabs{
    border-bottom: none;
}
.video-tabs  .nav .nav-item{
    width: 100px;
    border: 3px solid #fff;
    margin: 0 5px;
}
.video-tabs  .nav .nav-item img{
    width: 100%;
}
.video-tabs  .nav .nav-item .nav-link.active{
    background: none;position: relative;
    border-radius: 0;
}
.video-tabs  .nav .nav-item .nav-link.active:before{
    position: absolute;
    content: '';
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}
.map-section{
    background: #fff;

}
.map-section iframe{
    width: 100%;
    height: 500px;
}
.map-section .card-header{
    background: rgb(121, 191, 77);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    text-transform: capitalize;
    border: none;

}


/*right side bar start from here */


.right-sidebar .card{
    margin-bottom: 17px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.right-sidebar .card .card-body{
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
   max-height: 250px;
}
.right-sidebar .card .card-body img{
    min-height: 200px;
    max-height: 200px;
    position: relative;
}
.right-sidebar .card .card-header{
    background: #79bf4d;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #fff;
    text-align: center;text-transform: capitalize;
}

.right-sidebar .card .card-header2{
    background: #d83a48;
}

.right-sidebar .card .card-body .principle-name{
    background: #01150085;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 17px;
    padding: 5px 0;
}

.right-sidebar .card .card-body .principle-name h3{
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
}
.right-sidebar .card .card-body .principle-name p{
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;
}

.right-sidebar .card .card-body .principle-corner-image{
    position: relative;
}

.right-sidebar .card .card-body .principle-corner-image .principle-name{
    width: 100%;bottom: 0;
}
.right-sidebar .card .card-body .principle-corner .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 15px;
    color: rgb(121, 191, 77);

}
.right-sidebar .card .card-body .principle-corner  .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal{
    background: rgb(121, 191, 77);

}
.right-sidebar .card .card-body .principle-corner  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #d83a48;
}

.right-sidebar .card .card-body .important-links-list .nav-item .nav-link{
    font-size: 12px;
    color: #0f2100;text-transform: capitalize;padding: 3px 0;position: relative;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.right-sidebar .card .card-body .important-links-list {
    padding-left: 20px;
}
.right-sidebar .card .card-body .important-links-list .nav-item .nav-link:before{
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    background: #0f2100;
    border-radius: 50%;left: -15px;top: 9px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.right-sidebar .card .card-body .important-links-list .nav-item:hover .nav-link:before{
    background: rgb(121, 191, 77);
    
}
.right-sidebar .card .card-body .important-links-list .nav-item:hover .nav-link{
    padding-left: 10px;
    color: rgb(121, 191, 77);
}
.right-sidebar .card.hotline{
    min-height: 600px;
}
.right-sidebar .card.hotline .card-body img{
    min-height: 100% !important;
     max-height: 500px !important;
}

.right-sidebar .card.faq-card{
    min-height: 400px;
}
.right-sidebar .card.faq-card label{
    text-transform: capitalize;
    font-size: 14px;
    color: #0f2100;
}
.right-sidebar .card.faq-card .form-control{
   border-radius: 0; font-size: 14px; color: #0f2100;
}
.right-sidebar .card.faq-card .form-control:focus{
    box-shadow: none;
    outline: none;
}

.right-sidebar .mail-main{
    display: flex;
    flex-wrap: wrap;
    
}
.right-sidebar .mail-copy{
    flex-basis: 80px;
    background: #d83a48;
    padding: 5px 0px;
}
.right-sidebar .mail-copy i{
    color: #fff;
}
.right-sidebar .mail-address{
    width: calc(100% - 80px);
    border: 1px dotted #d83a48;
}
.right-sidebar .mail-address p{
    font-size: 12px;
    margin: 0;
   margin-top: 7px;

}
.faq-btn{
    background: #79bf4d;
    color: #fff;
    border-radius: 0;
    padding-left:15px ;
    padding-right: 15px;
    border-color: #79bf4d;
}
.information-main .card{
    margin-bottom: 17px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: relative;
    min-height: 200px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.information-main .card-loop .card::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 15px;
    width: 100%;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.information-main .card-loop  .card .card-body{
    position: relative;
}
.information-main .card-loop  .card .card-body .info-box{
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
}
.information-main .card-loop:nth-child(1) .card::before{
    background: #fd79a8
}
.information-main .card-loop:nth-child(2) .card::before {
    background: #ff7675
}
.information-main .card-loop:nth-child(3) .card::before {
    background: #6c5ce7
}

.information-main .card-loop:nth-child(4) .card::before {
    background: #e17055
}


.information-main .card-loop:nth-child(5) .card::before {
    background: #ff4757
}

.information-main .card-loop:nth-child(6) .card::before {
    background: #ffa502
}

.information-main .card-loop  .card .info-box{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    text-align: center;

}
.information-main .card-loop  .card .info-box h2{
   color: #fff;
   font-weight: 500;
   font-size: 15px;
   text-transform: capitalize;
}
.information-main .card-loop:nth-child(1) .card .info-box{
    background: #fd79a8
}
.information-main .card-loop:nth-child(1) .card .info-box h2{

    padding-top: 32px;
}

.information-main .card-loop:nth-child(2) .card .info-box{
    background: #ff7675
}
.information-main .card-loop:nth-child(2) .card .info-box h2{
    padding-top: 32px;
}

.information-main .card-loop:nth-child(3) .card .info-box{
    background: #6c5ce7
}
.information-main .card-loop:nth-child(3) .card .info-box h2{
    padding-top: 32px;
}

.information-main .card-loop:nth-child(4) .card .info-box{
    background: #e17055
}
.information-main .card-loop:nth-child(4) .card .info-box h2{
    padding-top: 32px;
}

.information-main .card-loop:nth-child(5) .card .info-box{
    background: #ff4757
}
.information-main .card-loop:nth-child(5) .card .info-box h2{
    padding-top: 32px;
}
.information-main .card-loop:nth-child(6) .card .info-box{
    background: #ffa502
}
.information-main .card-loop:nth-child(6) .card .info-box h2{
    padding-top: 32px;
}


.information-main .card-loop .card .notice-list .nav-item{
    list-style-type: disc;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.information-main .card-loop .card .notice-list .nav-item .nav-link{
    font-size: 12px;
    padding: 0;
    color: #0f2100;
    text-transform: capitalize;

}
.information-main .card-loop .card .notice-list .nav-item:hover .nav-link{
   color:#79bf4d;
}
.information-main .card-loop .card .notice-list .nav-item:hover {
    color:#79bf4d;
    padding-left: 10px;

}

.footer .footer-top{
    background: #26262f; 
    padding: 40px 0px;
}
.footer-bottom{
    background: #202027;
    padding: 15px 0px;
}

.footer-top .footer-title h4{
    text-transform: uppercase;
    margin-bottom: 17px;color: #fff;
    font-size: 15px;
}
.footer-description p{
    color: #fff;
    font-size: 13px;
    text-align: justify;
}
.footer-description h5{
    color: #fff;
    font-size: 13px;
    text-align: justify;
    text-transform: uppercase;
    opacity: 0.5;
}

.footer-description .nav-link{
    color: #fff;
    font-size: 12px;
    padding: 3px 0;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.footer-description .nav-link:hover{
    opacity: 0.5;
    padding-left: 10px;
}

.footer-bottom p{
    color: #fff;
    font-size: 11px;text-transform: capitalize;
}
.footer-bottom p a{
    color: #fff;
}


.teachers-list h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #d83a48;
}

.teacher-list-card th{
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    background: #79bf4d;
    color: #fff;
    font-weight: normal;
}
.teacher-list-card .table{
    margin-bottom: 0;
}
.teacher-list-card{
    border: none;
}
.teacher-list-card tr td{
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;text-transform: capitalize;
}
.teacher-list-card tr td:first-child{
    text-align: center;
}
.teacher-list-card tr td:nth-child(2){
    text-align: center;
}
.teacher-list-card tr td p{
    margin-bottom: 0;
}
.teacher-list-card tr td img{
    height: 50px;
    width: 50px
}





/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }

}

/* ============ small devices .end// ============ */